<!DOCTYPE html>
    <html>
    <head>
        <title>Стоимость валют ЦБ РФ</title>
        {{!-- <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> --}}
    </head>
    <body>
        <div class="main-content">
        <p>Используйте эту страницу для получения стоиомсти валют ЦБРФ</p>
        {{>header}}
            <form>
                <p>Выберите валюту:
                <br>
                <select>
                <option>Австралийский доллар</option>
                <option>Австрийский шиллинг</option>
                <option>Азербайджанский манат</option>
                <option>Фунт стерлингов Соединенного королевства</option>
                <option>Ангольская новая кванза</option>
                <option>Армянский драм</option>
                <option>Белорусский рубль</option>
                <option>Бельгийский франк</option>
                <option>Болгарский лев</option>
                <option>Бразильский реал</option>
                <option>Венгерский форинт</option>
                <option>Гонконгский доллар</option>
                <option>Греческая драхма</option>
                <option>Датская крона</option>
                <option>Доллар США</option>
                <option>Евро</option>
                <option>Индийская рупия</option>
                <option>Ирландский фунт</option>
                <option>Исландская крона</option>
                <option>Испанская песета</option>
                <option>Итальянская лира</option>
                <option>Казахстанский тенге</option>
                <option>Канадский доллар</option>
                <option>Киргизский сом</option>
                <option>Китайский юань</option>
                <option>Кувейтский динар</option>
                <option>Латвийский лат</option>
                <option>Ливанский фунт</option>
                <option>Литовский лит</option>
                <option>Литовский талон</option>
                <option>Молдавский лей</option>
                <option>Немецкая марка</option>
                <option>Немецкая марка</option>
                <option>Нидерландский гульден</option>
                <option>Норвежская крона</option>
                <option>Польский злотый</option>
                <option>Португальский эскудо</option>
                <option>Румынский лей</option>
                <option>Румынский лей</option>
                <option>СДР (специальные права заимствования)</option>
                <option>Сингапурский доллар</option>
                <option>Суринамский доллар</option>
                <option>Таджикский сомони</option>
                <option>Таджикский рубл</option>
                <option>Турецкая лира</option>
                <option>Туркменский манат</option>
                <option>Новый туркменский манат</option>
                <option>Узбекский сум</option>
                <option>Украинская гривна</option>
                <option>Украинский карбованец</option>
                <option>Финляндская марка</option>
                <option>Французский франк</option>
                <option>Чешская крона</option>
                <option>Шведская крона</option>
                <option>Швейцарский франк</option>
                <option>ЭКЮ</option>
                <option>Эстонская крона</option>
                <option>Югославский новый динар</option>
                <option>Южноафриканский рэнд</option>
                <option>Вон Республики Корея</option>
                <option>Японская иена</option>
                </select>
                <br>
                {{!-- <p>Choose date:
                <input type="date">
                <br> --}}
                <p>Выберите диапазон дат:
                <br>
                <input id="calendar1" type="date">
                <br>
                <input id="calendar2"type="date">
                <br>
                <button>Поиск</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            <p id="message-3"></p>
            <p id="message-4"></p>
        </div>
        {{>footer}}
    <script src="/js/appCbrDouble.js"></script>
</body>
</html>