<!DOCTYPE html>
    <html>
    <head>
        <title>Стоимость валют НБРБ</title>
        {{!-- <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> --}}
    </head>
    <body>
        <div class="main-content">
        <p>Используйте данную страницу для получения стоимости белорусского рубля на конкретную дату</p>
        {{>header}}
            <form>
                <p>Выберите валюту:
                <br>
                <select>
                <option>Доллар США</option>
                <option>Гривна</option>
                <option>Фунт стерлингов</option>
                <option>Евро</option>
                <option>Российский рубль</option>
                <option>Китайский юань</option>
                <option>Швейцарский франк</option>
                </select>
                <br>
                {{!-- <p>Choose date:
                <input type="date">
                <br> --}}
                <p>Выберите дату:
                <br>
                <input id="calendar1" type="date">
                <br>
                <button>Поиск</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            <p id="message-3"></p>
        </div>
        {{>footer}}
    <script src="/js/appNbrbSingle.js"></script>
</body>
</html>