<header>
<h1>{{title}}</h1>

<div>
    <a href="/indexSingle">Стоимость металлов на конкретную дату</a>
    <br>
    <a href="/indexDouble">Стоимость металлов в диапазоне дат</a>
    <br>
    <a href="/indexCbrDouble">Стоимость валют ЦБ РФ</a>
    <br>
    <a href="/indexNbrbSingle">Стоимость валюты на конкретную дату НБРБ</a>
    <br>
    <a href="/indexNbrbDouble">Стоимость валюты в диапазоне дат НБРБ</a>
    <br>
    <a href="/currentValues">Получение данных в текущий момент времени</a>
    <br>
    <a href="/">Стартовая страница</a>
</div>
</header>